body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

input{
    width: 50px;
    height: 50px;
    border: 1px solid silver;
    margin: 0px;
    text-align: center;
    font-size: 16px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}

input:focus {
    outline: 1px auto lightslategrey;
}

input:disabled{
    background-color: rgb(234, 232, 232);
}

.buttons-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(252, 243, 233);
    font-weight: 700;
}

button:not([disabled]):hover {
    background-color: green;
    transition: all 0.25s ease-in-out;
    color: white;
    cursor: pointer;

}

button[name="easy"].selected {
    color: white;
    background-color: green;
}

button[name="easy"]:hover {
    color: white;
    background-color: rgb(6, 81, 6);
}

button[name="medium"].selected {
    background-color: yellow;
}

button[name="medium"]:hover {
    color: black;
    background-color: rgb(177, 177, 39);
}

button[name="hard"].selected {
    color: white;
    background-color: red;
}

button[name="hard"]:hover {
    color: white;
    background-color: rgb(174, 13, 13);
}

.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

table input:nth-child(3n) {
    border-right: 2px solid black;
}

table tr:nth-child(3n) input {
    border-bottom: 2px solid black;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 550px){
    input {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }
}